*{
    --snow: hsl(0, 100%, 99%, 0.65);
    --red: #e86868;
    --green: #80bd83;
    --blue: #005cb9;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    z-index: 1;
}
body {
    background-image: linear-gradient(#afd5fc, #005cb9);
}
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:-1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
.button{
    text-align: center;
    border-radius: 7px;
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--blue);
    color: white;
}  
/*Top Navbar code*/
.navigation {
    width: 100%;
    height: 100px;
    background-color: silver;
    color: #fff;
}
ul {list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    overflow: hidden;
}
li {
    float: left;
}
li a{
    display: inline-block;
    color: #fff;
    background-color: var(--green);
    text-align: center;
    padding: 12px 16px;
    transition: 450ms;
    text-decoration: none;
    border-radius: 5px;
}
li a:hover {
    background-color: var(--red);
}
.Logo {
    width: 92px;
    margin-right: 5px;
    border-radius: 3px;
    height: 43px;
}
.NavBarBottom {list-style: none;
    display: flex;
    justify-content: center;
}
/*End of top navbar code*/
/*grid for cards*/
.gridLayout {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 25px;
}
.pdf-size {
    width: 100%;
    height: 420px;
}
.gridLayout div {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    height: fit-content;
    background-color: var(--snow);
}
.gridLayout img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.gridLayout h2 {
    margin-bottom: 0px;
}
.gridLayout p {
    margin: 0px;
    margin-bottom: 1%;
}
.gridLayout a {
    float: right;
    margin: 0px;
}
@media only screen and (min-width: 1200px) {
    .gridLayout div:nth-child(3n-2) {grid-column: 1 / span 2;}
    .gridLayout div:nth-child(3n-1) {grid-column: 3 / span 2;}
    .gridLayout div:nth-child(3n) {grid-column: 5 / span 2;}
}
@media only screen and (min-width: 650px) and (max-width: 1200px) {
    .gridLayout div:nth-child(odd) {grid-column: 1 / span 3;}
    .gridLayout div:nth-child(even) {grid-column: 4 / span 3;}
} 
@media only screen and (max-width: 650px) {
    .gridLayout div {grid-column: 1 / span 6;}
}
/*about page*/
/* creates a gap between each box. & centers the components.*/
/*^^ it was already centered and spaced before?*/
.gap {
    display: grid;
    gap: 24px;
    justify-content: center;
    margin-top: 5rem;
}
.aboutHeader {
    width: 70vw;
    background-color: var(--snow);
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.aboutBox {
    width: 70vw;
    background-color: var(--snow);
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.contactBox {
    width: 70vw;
    background-color: var(--snow);
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.silhouette {
    position: absolute;
    z-index: -2;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    background-color: #005cb9;
}
