*{
    --white: hsl(0, 100%, 99%, 0.75);
    --red: #e86868;
    --green: #80bd83;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}
body {background-color: #80bd83}
.button{
    text-align: center;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
    /* Commented these out as unsure of colours.
    color: ;
    background-color: ;
    */
}
/*Top Navbar code*/
.navigation {
    width: 100%;
    height: 100px;
    background-color: silver;
    color: #fff;
}
ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--red);
}
li {
    float: left;
}
li a{
    display: block;
    color: #fff;
    background-color: var(--green);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(255, 0, 0);
}
.Logo {width: 92px;height: 46px;}
/*End of top navbar code*/

/*grid for cards*/
.gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;  /*not sure on what colours we are using*/
    border-radius: 25px;
}

.gridLayout div p {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: var(--white);
}